.brand h1 {
  font-size: 4.8em;
  font-weight: 600;
}

.label-big {
  font-size: 15px;
}

.brand {
  margin-top: 15vh;
  color: #FFFFFF;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.result-div {
    top:198px;
    left:365px;
    width:62px;
    height:51px;
    color:white;
    position:absolute;
    text-align:center;
    background-color:black;
}

.result-div h3 {
    margin:auto;
    vertical-align:middle;
}
